{{#_.isProduction}}
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init({{_.clickyId}}); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{{_.clickyId}}ns.gif"></p></noscript>

{{/_.isProduction}}

<aside id="debug-link"><a href="debug/{{_.rid}}">Debug</a></aside>
