
<nav id="site-nav" role="navigation">
	<h1><a href=".">{{site_title}}</a></h1>
	<form id="search" role="search" action="." method="get">
		<input type="search" name="s" placeholder="Search..." />
	</form>
</nav>