<header id="header">
	<nav role="navigation">
		<h1 title="{{_.subtitle}}"><a href=".">{{_.title}}</a></h1>
		{{!<ul>
			<li><a href="books">Books</a>
			<li><a href="songs">Songs</a>
			<li><a href="about">About</a>
		</ul>}}
	</nav>
	<form id="search" role="search" action="search" method="get">
		<input type="search" name="term" placeholder="Search..." tabindex="1">
	</form>
</header>
