<header>
	<nav id="site-nav" role="navigation">
		<h1><a href=".">{{site.title}}</a></h1>
		<form id="search" role="search" action="." method="get">
			<img src="_/ajax.gif" id="activity-indicator" />
			<input type="search" name="term" placeholder="Search..." tabindex="1" />
		</form>
	</nav>
</header>