
body,
input,
textarea,
select
{
	font:100%/1.3 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
pre,
code
{
	font:110%/1.3 'Inconsolata', monospace;
}


html,
body
{
	background: @background-color;
	color: @text-color;
	margin: 0;
	padding: 0;
	height: 100%;
}

a
{
	&:link,
	&:link mark
	{
		color: desaturate(@link-color, 40%);
		text-decoration: none;
	}
	&:visited,
	&:visited mark
	{
		color: desaturate(@link-color, 70%);
		text-decoration: none;
	}
	&:hover,
	&:hover mark,
	&:active,
	&:active mark
	{
		color: @link-color;
	}
	mark
	{
		color: @link-color;
	}

}
mark
{
	background: none;
	outline: 1px dotted mix(@background-color, yellow, 10%);
	color: @text-color;
}


#content
{
	padding: 1em 1.5em;
	.linear-background(top, darken(@background-color, 30%) 0, @background-color 10px);


	h1
	{
		color: lighten(desaturate(@link-color, 70%), 20%);
		&:first-child
		{
			margin-top: 0;
		}
	}
}

.song-list
{
	font-size: 120%;
	line-height: 1.6em;
	li
	{
		list-style-type: none;
	}
}

footer
{
	font-size: x-small;
	color: @footer-text-color;
}