
body,
input,
textarea,
select
{
	font:120%/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
pre,
code
{
	margin-top: 0;
	font:110%/1.3 'Inconsolata', monospace;
}


html,
body
{
	background: @background-color;
	color: @text-color;
	margin: 0;
	padding: 0;
}

h1 { font-size: xx-large }
h2 { font-size: x-large }
h3 { font-size: large }
h4 { font-size: medium }

a
{
	&:link,
	&:link mark
	{
		color: desaturate(@link-color, 40%);
		text-decoration: none;
	}
	&:visited,
	&:visited mark
	{
		color: desaturate(@link-color, 70%);
		text-decoration: none;
	}
	&:hover,
	&:hover mark,
	&:active,
	&:active mark
	{
		color: @link-color;
	}
	mark
	{
		color: @link-color;
	}

}
mark
{
	background: none;
	outline: 1px dotted mix(@background-color, yellow, 10%);
	color: @text-color;
}


input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=number],
input[type=tel],
input[type=date],
input[type=time],
input[type=search],
select,
textarea
{
	padding: 3px;
	vertical-align: middle;

	background: @input-background;
	color: @input-color;
	border: @input-border;

}
textarea
{
	resize: vertical;
	overflow: auto;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder
{
	color: @input-placeholder-color;
}
input::-moz-placeholder,
select::-moz-placeholder
{
	color: @input-placeholder-color;
}
input:-moz-placeholder,
select:-moz-placeholder
{
	color: @input-placeholder-color;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder
{
	color: @input-placeholder-color;
}
button
{
	padding: 3px 7px;
	.radius(3px);

	cursor: pointer;
	
	color: @input-color;
	border: 1px solid darken(@input-border-color, 35%);
	background: darken(@input-background, 15%);
	.inset-shadow(1px, 1px, 2px, lighten(@input-background, 5%));

	&:hover
	{
		background: darken(@input-background, 12.5%);
		.inset-shadow(1px, 1px, 2px, lighten(@input-background, 7.5%));
	}
	&:active
	{
		position:relative;
		top:1px;
	}
}


#header
{
	padding: 17px;

	background: lighten(@background-color, 10%);
	border-bottom: 1px solid lighten(@background-color, 30%);
	.drop-shadow(0, 0, 15px, #000);

	font-size: 90%;
	line-height: 1.2em;

	h1,
	nav,
	form,
	img,
	ul,
	li,
	input
	{
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
	}

	a
	{
		&:link,
		&:visited
		{
			color: lighten(@background-color, 40%);
			font-weight: bold;
			padding: 4px 9px;
		}
		&:hover,
		&:active
		{
			color: lighten(@background-color, 90%);
			text-decoration: none;
			background-color: lighten(@background-color, 20%);
		}
	}
	h1
	{
		a:link,
		a:visited
		{
			color: lighten(@background-color, 60%);
		}
		a:hover,
		a:active
		{
			color: lighten(@background-color, 90%);
		}
	}

	h1,
	ul li
	{
		margin-right: 1em;
	}

	#search
	{
		float: right;
		margin-top: -3px;
		input
		{
			width: 200px;
			padding: 3px 7px;
			font-size: 90%;
			.radius(3px);
		}
	}
}

h1:first-child,
article:first-child
{
	margin-top: 0;
}

#content
{
	padding: 1em 1.5em;

	h1,
	h2,
	h3,
	h4,
	{
		color: lighten(desaturate(@link-color, 70%), 20%);
		text-shadow: black 0 0 5px;
	}
}

.book .n
{
	display: inline-block;
	text-align: right;
	width: 30px;
	margin-right: 1em;
}

.home-block
{
	display:inline-block;
	margin-right: 2em;
	vertical-align: top;
}

.book-song-count
{
	color: darken(@text-color, 50%);
}

#debug-link
{
	font-size: x-small;
	text-align: right;
	margin: 5px;
	a
	{
		color: lighten(@background-color, 10%);
	}
}

#debug
{
	line-height: 1em;
	font-size: medium;
	margin: 2em;
	font-family: monospace;
}