
.transition(@property: all, @duration: 0s, @timing: ease, @delay: 0s)
{
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	-ms-transition: @arguments;
	transition: @arguments;
}
.radius(@radius: 5px)
{
	border-radius: @radius;
}
.drop-shadow(@x, @y, @radius, @color)
{
	-moz-box-shadow: @x @y @radius @color;
	-webkit-box-shadow: @x @y @radius @color;
	box-shadow: @x @y @radius @color;
}
.inset-shadow(@x, @y, @radius, @color)
{
	-moz-box-shadow: inset @x @y @radius @color;
	-webkit-box-shadow: inset @x @y @radius @color;
	box-shadow: inset @x @y @radius @color;
}