@media only screen and (max-width : 750px)
{
	#header
	{
		nav
		{
			ul
			{
				margin-top: .5em;
				display:block;
			}
		}
	}
	#debug-link
	{
		display: none;
	}
}
@media only screen and (max-width : 550px)
{
	#header
	{
		text-align: center;
		#search
		{
			margin-top: .5em;
			display: block;
			float: none;
			input
			{
				width: 95%;
			}
		}
	}
}