#content .song 
{
	counter-reset: verse;
	.verse
	{
		display: inline-block;
		margin-right: 2em;
		vertical-align: top;

		&:before
		{
			counter-increment: verse;
			content: counter(verse);
			display: block;
			color: lighten(@background-color, 15%);
			font-size: 1.3em;
			font-weight: bold;
			font-style: italic;
		}
		span.c
		{
			color: @link-color;
		}
	}

	header 
	{
		h1
		{
			margin-bottom: 0;
		}
		section
		{
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
			padding-right: 1.5em;
			font-size: small;

			opacity: .5;
			.transition(opacity, .2s, ease-out);

			h1
			{
				margin-bottom: 0;
				font-size: medium;
			}

			ul
			{
				margin-top: 0;
				padding-left: 1em;
			}

			&:hover
			{
				opacity: 1;
			}
		}
	}


	.keys
	{
		opacity: .5;
		.transition(opacity, .3s, ease-out);

		&:hover
		{
			opacity: 1;
		}

		a
		{
			display: inline-block;
			padding: .3em 1em;
			margin: 0 .5em .5em 0;
			font-size: small;
			text-align: center;
			text-decoration: none;
			outline: none;
			.transition(background-color, 1s, ease-out);

			&:link,
			&:visited
			{ 
				color: #ccc;
				background: #444;
			}
			&:hover,
			&:active
			{
				background: #777;
				color: #fff;
			}
			&.key
			{
				background: #b36b00;
			}
		}
	}

	.spotify-player
	{
		display:inline-block;
		position:fixed;
		right:10px;
		bottom:10px;
		line-height: 1em;

		text-align: right;

		button
		{
			margin-bottom: 2px;
		};
	}
}

