#content .song 
{
	counter-reset: verse;
	pre
	{
		display: inline-block;
		margin-right: 2em;
		vertical-align: top;

		&:before
		{
			display: block;
			color: lighten(@background-color, 15%);
			font-size: 1.3em;
			font-weight: bold;
			font-style: italic;
			content: attr(class);
		}

		&.verse:before
		{
			counter-increment: verse;
			content: counter(verse);
		}

		span.c
		{
			color: mix(@link-color, grey, 50%);
			display:inline-block;

			.k
			{
			color: mix(@link-color, red, 90%);
			}
		}
	}

	header 
	{
		h1
		{
			margin-bottom: 0;
		}
		.meta
		{
			opacity: .5;
			.transition(opacity, .2s, ease-out);

			&:hover
			{
				opacity: 1;
			}
		}
		section
		{
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
			padding-right: 1.5em;
			font-size: small;

			h1
			{
				margin-bottom: 0;
				font-size: medium;
			}

			ul
			{
				margin-top: 0;
				padding-left: 1em;
			}
		}
	}


	.keys
	{
		padding: 0;
		margin: 0;
		opacity: .5;
		.transition(opacity, .3s, ease-out);

		li
		{
			display: inline-block;
		}

		&:hover
		{
			opacity: 1;
		}

		a
		{
			display: inline-block;
			padding: .3em 1em;
			margin: 0 .5em .5em 0;
			font-size: small;
			text-align: center;
			text-decoration: none;
			outline: none;

			&:link,
			&:visited
			{ 
				background: lighten(@background-color, 10%);
				color: lighten(@background-color, 70%);
			}
			&:hover,
			&:active
			{
				background: lighten(@background-color, 30%);
				color: lighten(@background-color, 90%);
			}
			&.original
			{
				background: lighten(@background-color, 30%);
			}
			&.key
			{
				background: darken(@link-color, 20%);
			}
		}
	}

	.spotify-player
	{
		display:inline-block;
		position:fixed;
		right:10px;
		bottom:10px;
		line-height: 1em;

		text-align: right;

		button
		{
			margin-bottom: 2px;
		};
	}
}

