
@background-color: #222;
@text-color: #ccc;
@link-color: #f90;

@footer-text-color: darken(@text-color, 50%);

@input-background: lighten(@background-color, 20%);
@input-color: #eee;
@input-border: 1px solid darken(@input-background, 20%);
@input-placeholder-color: darken(@input-color, 30%);

@import "mixins";
@import "general";
@import "forms";
@import "site-nav";
@import "songs";
