RewriteEngine on

# Compression
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/javascript application/rss+xml
AddDefaultCharset UTF-8

# Environment
SetEnv BASE /
RewriteBase /

# Pretty Urls
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .* index.php/$0 [L]
RewriteRule .* index.php?toro_uri=/$0 [PT,L,QSA]