
<h1>About</h1>

<p>This site is created as a tool for singing lessons.

<p>It's meant for those who already own the sheet music for these songs in some form, but would like a transposable version with big and clear text and chords that is easy to see from a bit of distance for both singer and whoever plays the instrument.

<p>Looked into getting the proper rights and such for this, but as a simple and humble software developer I don't really get how this licensing stuff works in the music world and don't really have much money or resources. So if you'd like to help me with this, please let me know. I do not earn anything on this website and I'm not rich. So... please <a href="https://github.com/Svish/myhymnal/issues">help me out</a> instead of suing me if you own the rights to any of the songs here? :)


<h2>Why</h2>

<p>I take singing lessons and need something to sing at those lessons. Since I'm horrible at learning lyrics by heart and my song teacher need chords to play, we tended to search for chords on the web. Sometimes we didn't find it at all, sometimes only the lyrics, and sometimes they were just wrong or badly typed in. Existing lyrics and chord websites also usually look horrible and are often so full of ads that you can hardly see the lyrics.

<p>I realized I had many of the songs already in song books, but when put on the piano, it was difficult for me to read the text while standing behind my teacher.

<p>Since I also wanted to check out some PHP stuff and experiment with some things, I therefore decided to throw this website together so me and my song teacher could have one single consistent place to go to.

<h2>Main goals</h2>

<ul>
	<li>All lyrics must be correct
	<li>All lyrics must have correct chords (correctly placed and through all verses)
	<li>The chords and lyrics should be easy to see from a distance
	<li>The chords and lyrics should fill as much of the screen as possible to minimize need for scrolling
	<li>Chords should be transposable
	<li>Songs should be easy to find and search for
	<li>Songs should have a good, solid, Christian message
</ul>

<p>The last point relates to me being a Christian myself and if I'm going to spend an hour every week singing, practicing, trying to internalise the words and express them with passion... well, then I want those words to be good and uplifting words. Words that really <em>should</em> be in my head. Words that are not meaningless, not about heart-break, affairs, cheap love or other depressive things that sucks in this world and that so many songs are about these days.

<p>I think I have nailed most of these goals, but <a href="https://github.com/Svish/myhymnal/issues">let me know</a> if something is incorrect or could be better.


<h2>For curious developers</h2>

<p>If you would like to see the source code of this site you will always find the live version at <a href="https://github.com/Svish/myhymnal">github.com/Svish/myhymnal</a>. If you do have a look and find something horrible (which you probably will if you do) or if you just have suggestions for improvements or new features, let me know through the <a href="https://github.com/Svish/myhymnal/issues">issue tracker</a>.
	