
{{#book}}
<article class="book">
	<h1>{{name}}</h1>

	{{#songs}}
	<ul>
		{{#list}}
		<li><span class="n">{{number}}</span> <a href="song/{{id}}">{{title}}</a>
		{{/list}}
	</ul>
	{{/songs}}
	{{^songs}}
	<p>No songs...
	{{/songs}}

</article>
{{/book}}