<h1>{{#term}}Search: <i>{{.}}</i>{{/term}}{{^term}}Every song{{/term}}</h1>

<ul id="search-result">
{{#songs}}
	<li><a href="song/{{id}}">{{title}}</a>
{{/songs}}
</ul>

<script>

	$(function()
	{
			var term = '{{term}}';
			var html = $('#search-result')
				.html()
				.replace(/\[([^\]]+)\]/g, '<mark>$1</mark>');

			$('#search-result').html(html);
	});

</script>
