<article class="search-result">
	<h1>{{#term}}Search: <i>{{.}}</i>{{/term}}{{^term}}Every song{{/term}}</h1>

	<ul class="result-list">
	{{#songs}}
		<li><a href="song/{{id}}">{{title}}</a>
	{{/songs}}
	</ul>
</article>

<script>

	$(function()
	{
		var $e = $('.result-list');
		var term = '{{term}}';
		var html = $e.html().replace(/\[([^\]]+)\]/g, '<mark>$1</mark>');
		$e.html(html);
	});

</script>
