<article class="song-list">
	{{#term}}<h1>Search: <i>{{.}}</i></h1>{{/term}}

	<ul class="result-list">
	{{#songs}}
		<li><a href="song/{{id}}">{{title}}</a>
	{{/songs}}
	{{^songs}}
		<li>No matches...
	{{/songs}}
	
	</ul>
</article>

<script>

	$(function()
	{
		var $e = $('.result-list');
		var term = '{{term}}';
		var html = $e.html().replace(/\[([^\]]+)\]/g, '<mark>$1</mark>');
		$e.html(html);
	});

</script>
