{{#term}}<h1>Search: <i>{{.}}</i></h1>{{/term}}

<ul>
{{#result}}
	{{>song-li}}
{{/result}}
{{^result}}
	<li>No matches...
{{/result}}
</ul>

<script>

$(function()
{
	$('a', '#content ul li')
		.highlight(/{{term}}/gi);
});

</script>
