{{#song}}
<article class="song">
	<header>
		<h1>{{title}}</h1>
	</header>

	{{{keys}}}

	{{{text_html}}}

	<footer>
		<section>
			<h1>Browse</h1>
			<ul>
				{{#next}}<li><a href="song/{{id}}" title="{{title}}">Next</a>{{/next}}
				{{#prev}}<li><a href="song/{{id}}" title="{{title}}">Previous</a>{{/prev}}
			</ul>
		</section>

		{{#books}}
		<section>
			<h1>Found in</h1>
			<ul>
				{{#list}}
					<li>{{number}} <a href="book/{{id}}">{{name}}</a>
				{{/list}}
			</ul>
		</section>
		{{/books}}

		{{#examples}}
		<section>
			<h1>Examples</h1>
			<ul>
				{{#list}}
					<li><a class="spotify-link" href="{{url}}" data-spotify-uri="{{track.href}}">{{artists}}</a>
				{{/list}}
			</ul>
		</section>
		{{/examples}}
	</footer>

</article>

<script id="spotify-template" type="text/html">
	<div class="spotify-player">
		<button>Close</button><br>
		<iframe 
			src="//embed.spotify.com/?uri=:uri" 
			width="300" 
			height="80" 
			frameborder="0" 
			allowtransparency="true"></iframe>
	</div>
</script>
<script src="_/song.js"></script>
		

{{/song}}