<h1>{{title}}</h1>

<ul>
{{#songs}}
	{{>song-li}}
{{/songs}}
{{^songs}}
	<li>No songs...
{{/songs}}
</ul>



<h2>Unfinished</h2>

<ul>
{{#unfinished}}
	{{>song-li}}
{{/unfinished}}
{{^unfinished}}
	<li>No uninished songs...
{{/unfinished}}
</ul>
