{{#song}}
<article class="song">
	<header>
		<h1>{{title}}</h1>

		{{{keys}}}

		<div class="meta">
		
			<section>
				<h1>Browse</h1>
				<ul>
					{{#next}}<li><a href="song/{{id}}" title="{{title}}">Next</a>{{/next}}
					{{#prev}}<li><a href="song/{{id}}" title="{{title}}">Previous</a>{{/prev}}
				</ul>
			</section>

			{{#books}}
			<section>
				<h1>Exists in</h1>
				<ul>
					{{#list}}
						<li>{{number}} <a href="book/{{id}}">{{name}}</a>
					{{/list}}
				</ul>
			</section>
			{{/books}}

			{{#spotify}}
			<section>
				<h1>Spotify</h1>
				<ul>
					{{#list}}
						<li><a class="spotify-link" href="{{url}}" data-spotify-uri="{{spotify_id}}">{{artists}}</a>
					{{/list}}
				</ul>
			</section>
			{{/spotify}}
		</div>

	</header>

	{{{text_html}}}

</article>

<script id="spotify-template" type="text/html">
	<div class="spotify-player">
		<button>Close</button><br>
		<iframe 
			src="//embed.spotify.com/?uri=:uri" 
			width="300" 
			height="80" 
			frameborder="0" 
			allowtransparency="true"></iframe>
	</div>
</script>
<script src="_/song.js"></script>
		

{{/song}}