<h1>{{title}}</h1>

<p>I try to list some good examples of each song which you can listen to if you have <a href="http://spotify.com">Spotify</a> installed. Below I also put together a playlist which includes all of these so you can listen through them all :)

<p><iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:{{tracks}}" frameborder="0" allowtransparency="true" width="400" height="580"></iframe>
